@import '../../styles/constants.scss';

.layout {
  display: flex;
  width: 100vw;
  gap: 24px;
  justify-content: center;
  .left {
    margin: 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 1020px;
  }
  .right {
    margin: 24px 0px;
    width: 232px;
    position: relative;
  }
}
