@import '../../styles/constants.scss';

.map-container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    position: absolute;
    background-color: $white;
    padding: 8px;
    border-radius: 6px;
    top: -100px;
    left: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $darkBoxShadow;
    cursor: default;
    user-select: none;
  }

  svg {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 48px - 40px - 16px);
    path {
      fill: $regionFill;
      fill-opacity: 1;
      stroke: white;
      stroke-opacity: 1;
      stroke-width: 0.5;
      &:hover {
        cursor: pointer;
        fill: $regionHoverFill;
        opacity: .85;
      }
      &.active {
        fill: $regionActiveFill !important;
      }

      @each $color, $value in $colorMap {
        &.#{$color} {
          fill: $value;
        }
      }
    }
  }
}
