@import '../../styles/constants.scss';

.map-container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: $defaultBorderRadius;

  &:hover,
  *:hover {
    .title:not(:empty) {
      display: flex !important;
    }
  }

  .map-tools-buttons {
    z-index: 100;
    position: relative;
    display: flex;
    gap: 8px;
    flex-direction: row;
    // position: absolute;
    top: 8px;
    left: 8px;
    user-select: none;
    align-self: flex-start;
    .map-tool {
      background-color: $white;
      padding: 8px;
      color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $defaultBoxShadow;
    }
    button {
      appearance: none;
      border: 0px;
      font-size: 18px;
      width: 36px;
      height: 36px;
      border-radius: 100px;
    }
    .title {
      border-radius: 6px;
      top: -100px;
      left: -100px;
      display: none;
    }
  }

  svg {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 48px - 40px - 16px);
    path {
      fill: $regionFill;
      fill-opacity: 1;
      stroke: white;
      stroke-opacity: 1;
      stroke-width: 0.5;
      &:hover {
        cursor: pointer;
        fill: $regionHoverFill;
        opacity: 0.85;
      }
      &.active {
        fill: $regionActiveFill !important;
      }

      @each $color, $value in $colorMap {
        &.#{$color} {
          fill: $value;
        }
      }
    }
  }
}
