// colors
$lightGrey: #c5c9cd;
$lightGrey2: #f7fafb;
$light1: #f1f5f9;
$pageBackground: #f7fafb;
$white: #ffffff;
$black: #151515;

$regionFill: #c5c9cd;
$regionHoverFill: #555555;
$regionActiveFill: #a24141;

// regions color
$colorMap: (
  color-1: #0097a1,
  color-2: #5789eb,
  color-3: #b357eb,
  color-4: #ed3018,
  color-5: #444444,
);

// sizes
$defaultBorderRadius: 13px;

// other
$darkBoxShadow: 0px 0px 7px 0px rgba(34, 34, 34, 0.6);
$defaultBoxShadow: 0px 0px 7px 0px rgba(233, 233, 233, 0.6);
