@import './fonts/fonts.scss';
@import './constants.scss';
@import './reset.css';
@import './components/ColorPicker.scss';
@import './components/ColorsBlock.scss';
@import './components/Main.scss';
@import './components/Map.scss';
@import './components/MenuItem.scss';
@import './components/Sidebar.scss';
@import './components/Tabs.scss';
@import './components/Icons.scss';
@import './components/Select.scss';

* {
  font-family: 'Nunito', sans-serif !important;
}

body {
  background-color: $pageBackground;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
