/* static/Nunito-ExtraLight.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 200;
  src: url('./fonts/Nunito/static/Nunito-ExtraLight.ttf') format('truetype');
}

/* static/Nunito-Light.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  src: url('./fonts/Nunito/static/Nunito-Light.ttf') format('truetype');
}

/* static/Nunito-Regular.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: url('./fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
}

/* static/Nunito-Medium.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  src: url('./fonts/Nunito/static/Nunito-Medium.ttf') format('truetype');
}

/* static/Nunito-SemiBold.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  src: url('./fonts/Nunito/static/Nunito-SemiBold.ttf') format('truetype');
}

/* static/Nunito-Bold.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  src: url('./fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
}

/* static/Nunito-ExtraBold.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  src: url('./fonts/Nunito/static/Nunito-ExtraBold.ttf') format('truetype');
}

/* static/Nunito-Black.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: url('./fonts/Nunito/static/Nunito-Black.ttf') format('truetype');
}

/* static/Nunito-ExtraLightItalic.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 200;
  font-style: italic;
  src: url('./fonts/Nunito/static/Nunito-ExtraLightItalic.ttf') format('truetype');
}

/* static/Nunito-LightItalic.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  font-style: italic;
  src: url('./fonts/Nunito/static/Nunito-LightItalic.ttf') format('truetype');
}

/* static/Nunito-Italic.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/Nunito/static/Nunito-Italic.ttf') format('truetype');
}

/* static/Nunito-MediumItalic.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  font-style: italic;
  src: url('./fonts/Nunito/static/Nunito-MediumItalic.ttf') format('truetype');
}

/* static/Nunito-SemiBoldItalic.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  font-style: italic;
  src: url('./fonts/Nunito/static/Nunito-SemiBoldItalic.ttf') format('truetype');
}

/* static/Nunito-BoldItalic.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Nunito/static/Nunito-BoldItalic.ttf') format('truetype');
}

/* static/Nunito-ExtraBoldItalic.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  font-style: italic;
  src: url('./fonts/Nunito/static/Nunito-ExtraBoldItalic.ttf') format('truetype');
}

/* static/Nunito-BlackItalic.ttf */
@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  font-style: italic;
  src: url('./fonts/Nunito/static/Nunito-BlackItalic.ttf') format('truetype');
}